<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.AnswerInforMapper">


    <insert id="insert">
        INSERT INTO answer_informantion
        (answer_id,user_id,exam_id,paper_id,question_paper_id,answer,remark)
        VALUES
            (#{answerId},#{userId},#{examId},#{paperId},#{questionPaperId},#{answer},#{remark})
    </insert>

    <insert id="insert2">
        INSERT INTO answer_informantion
        (user_id,exam_id,paper_id,question_paper_id,answer,remark)
        VALUES
            (#{userId},#{examId},#{paperId},#{questionPaperId},#{answer},#{remark})

    </insert>

    <update id="updateAnswerInformantion">
        UPDATE answer_informantion
        SET answer = #{answer}
        WHERE user_id = #{userId} AND exam_id = #{examId} AND question_paper_id = #{questionPaperId}
    </update>

    <select id="selectAnswerInformantion" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT *
        FROM answer_informantion
        WHERE user_id = #{userId} AND exam_id = #{examId} AND question_paper_id = #{questionPaperId}
    </select>

</mapper>