<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.ExamMapper">

    <resultMap id="selectList" type="org.upc.examination.entity.Exam">
        <association property="questionPaper" javaType="org.upc.examination.entity.QuestionPaper">
            <result property="questionPaperSort" column="qps"/>

        </association>
    </resultMap>
    <insert id="insert">
        INSERT INTO exam (exam_id,exam_name,paper_id,invigilator_teacher_id,exam_time,length_exam,lim_time_entry,lim_time_sub,exam_batches,exam_room_batch,state,remark)
        VALUES (#{examId},#{examName},#{paperId},#{invigilatorTeacherId},#{examTime},#{lengthExam},#{limTimeEntry},#{limTimeSub},#{examBatches},#{examRoomBatch},#{state},#{remark})

    </insert>
    <insert id="insert2">
        INSERT INTO exam
            (exam_name,paper_id,invigilator_teacher_id,exam_time,length_exam,lim_time_entry,lim_time_sub,exam_batches,exam_room_batch,state,remark)
        VALUES
               (#{examName},#{paperId},#{invigilatorTeacherId},#{examTime},#{lengthExam},#{limTimeEntry},#{limTimeSub},#{examBatches},#{examRoomBatch},#{state},#{remark})

    </insert>
    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(question_id)
        FROM question_paper
        WHERE paper_id =
              (SELECT paper_id
               FROM exam
               WHERE exam_id = #{examId})
    </select>
    <select id="selectQuestion" resultMap="selectList">
        SELECT question_paper_sort qps
        FROM question_paper
        WHERE paper_id =
              (SELECT paper_id
               FROM exam
               WHERE exam_id = #{examId})
        ORDER BY question_paper_sort ASC

    </select>
</mapper>