<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.ExamStudentMapper">


    <insert id="insert">
        INSERT INTO exam_student
            (exam_id,student_id)
        VALUES
            (#{examId},#{studentId})
    </insert>
</mapper>