<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.QuestionBankMapper">

    <insert id="insert" parameterType="org.upc.examination.entity.QuestionBank">
        insert into question_bank
            (question_id,question,optionA,optionB,optionC,optionD,subject,type,degree_difficulty,question_labels,answer)
        values
            (#{questionId},#{question},#{optionA},#{optionB},#{optionC},#{optionD},#{subject},#{type},#{degreeDifficulty},#{questionLabels},#{answer})
    </insert>

    <delete id="delete">
        delete from question_bank
        where question_id=#{index}
    </delete>

    <delete id="deleteArray" parameterType="int">
        delete from question_bank
        <where>
            question_id in
            <foreach collection="array" separator="," close=")" open="(" item="index">
                #{index}
            </foreach>
        </where>
    </delete>

    <select id="queryPage" resultType="org.upc.examination.entity.QuestionBank">
        select * from question_bank
        where subject=#{object}
    </select>

    <select id="queryById" resultType="org.upc.examination.entity.QuestionBank">
        select * from question_bank
        where question_id=#{index}
    </select>

    <select id="queryByType" resultType="org.upc.examination.entity.QuestionBank">
        select * from question_bank
        where type=#{type}
    </select>

    <select id="queryByObjectAndType" resultType="org.upc.examination.entity.QuestionBank">
        select * from  question_bank
        where type=#{type} and subject=#{object}
    </select>

    <update id="update">
        update question_bank
        <set>
            <where>
                <if test="question != null and question != ''">
                    question=#{question}
                </if>
                <if test="optionA != null and optionA != ''v">
                    optionA=#{optionA}
                </if>
                <if test="optionB != null and optionB != ''">
                    optionB=#{optionB}
                </if>
                <if test="optionC != null and optionC != ''">
                    optionC=#{optionC}
                </if>
                <if test="optionD != null and optionD != ''">
                    optionD=#{optionD}
                </if>
                <if test="subject != null and subject != ''">
                    subject=#{subject}
                </if>
                <if test="type != null and type != ''">
                    type=#{type}
                </if>
                <if test="degreeDifficulty != null and degreeDifficulty != ''">
                    degree_difficulty=#{degreeDifficulty}
                </if>
                <if test="questionLabels != null and questionLabels != ''">
                    question_labels=#{questionLabels}
                </if>
                <if test="answer != null and answer != ''">
                    answer=#{answer}
                </if>
            </where>
        </set>
        <where>
            question_id=#{questionId}
        </where>
    </update>
</mapper>