<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.QuestionPaperMapper">


    <insert id="insert" parameterType="org.upc.examination.entity.QuestionPaper">
        INSERT INTO question_paper
        (paper_id,question_id,question_paper_sort,remark)
        VALUES(#{paperId},#{questionId},#{questionPaperSort},#{remark})

    </insert>

</mapper>