<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.ScoreMapper">


    <insert id="insert">
        INSERT INTO score
        (score_id,user_id,exam_id,question_paper_id,score,teacher_id,state,remark)
        VALUES
            (#{scoreId},#{userId},#{examId},#{questionPaperId},
             #{score},#{teacherId},#{state},#{remark})
    </insert>
    <select id="selectAnswer" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT ans.answer_id,ans.exam_id,ans.question_paper_id,ans.user_id,
               ans.answer,ans.remark
        FROM answer_informantion ans
        WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}
    </select>
    <select id="selectStudent" resultType="org.upc.examination.entity.ScoreStudent">
        SELECT *
        FROM exam_student
        WHERE exam_id =#{examId}
    </select>
    <select id="selectedType" resultType="java.lang.String">
        SELECT qb.type
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}))

    </select>
    <!--
    <select id="selectedAnswer" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT ans.answer_id,ans.exam_id,ans.question_paper_id,ans.user_id,
               ans.answer,ans.remark
        FROM answer_informantion ans
        WHERE ans.exam_id = #{examId}
    </select>
    <select id="selectType" resultType="java.lang.String">
        SELECT qb.type
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} ))
    </select>
-->

</mapper>