<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.ScoreMapper">


    <insert id="insert">
        INSERT INTO score
        (score_id,user_id,exam_id,question_paper_id,score,teacher_id,state,remark)
        VALUES
            (#{scoreId},#{userId},#{examId},#{questionPaperId},
             #{score},#{teacherId},#{state},#{remark})
    </insert>
    <update id="updateScoreQuestionId">
        UPDATE score
        SET score.score = #{score}
        WHERE score.exam_id = #{examId} AND score.user_id = #{studentId} AND score.question_paper_id =#{questionPaperId}
    </update>
    <update id="updateScore">
        UPDATE score
        SET score.score = #{score}
        WHERE score.exam_id = #{examId} AND score.user_id = #{studentId} AND score.question_paper_id IS NULL
    </update>
    <select id="selectAnswer" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT ans.answer_id,ans.exam_id,ans.question_paper_id,ans.user_id,
               ans.answer,ans.remark
        FROM answer_informantion ans
        WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}
    </select>
    <resultMap id="selectStudentuser" type="org.upc.examination.entity.ScoreStudent">
        <result column="id" property="studentId"/>
        <result column="name" property="studentName"/>
        <result column="state" property="examStuState"/>
    </resultMap>
    <select id="selectStudent" resultMap="selectStudentuser">
        <!--SELECT *
        FROM exam_student
        WHERE exam_id =#{examId}-->
        SELECT es.student_id id,users.user_name name,es.examState state
        FROM exam_student es,users
        WHERE exam_id =#{examId} and users.user_id = es.student_id
    </select>
    <select id="selectedType" resultType="java.lang.String">
        SELECT qb.type
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}))

    </select>

    <select id="selectedAnswer" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT ans.answer_id,ans.exam_id,ans.question_paper_id,ans.user_id,
               ans.answer,ans.remark
        FROM answer_informantion ans
        WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}
    </select>
    <select id="selectType" resultType="java.lang.String">
        SELECT qb.type
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} ))
    </select>
    <select id="selectQuestion" resultType="java.lang.String">
        SELECT qb.answer
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} ))
    </select>
    <select id="selectGrade" resultType="java.lang.Double">
        SELECT qp.grade
        FROM question_paper qp
        WHERE qp.question_paper_sort = #{questionId} AND qp.paper_id = (
            SELECT exam.paper_id
            FROM exam
            WHERE exam.exam_id = #{examId}
        )
    </select>
    <select id="selectQuestionBank" resultType="org.upc.examination.entity.QuestionBank">
        SELECT qb.question_id,qb.question,qb.optionA,qb.optionB,qb.optionC,qb.optionD,qb.`subject`,qb.type,qb.answer,qb.degree_difficulty
        FROM question_bank qb
        WHERE qb.question_id IN (
            SELECT qp.question_id
            FROM question_paper qp
            WHERE qp.paper_id = (
                SELECT exam.paper_id
                FROM exam
                WHERE exam.exam_id = #{examId})
              AND qp.question_paper_sort IN(
                SELECT ans.question_paper_id
                FROM answer_informantion ans
                WHERE ans.exam_id = #{examId} AND ans.user_id = #{studentId}))
    </select>
    <select id="selectSumOfScore" resultType="java.lang.Double">

        SELECT sum(sc.score)
        FROM score sc
        WHERE sc.exam_id = #{examId} AND sc.user_id = #{studentId} AND sc.question_paper_id IS NOT NULL
    </select>
    <select id="selectAll" resultType="org.upc.examination.entity.Score">
        SELECT *
        FROM score
        WHERE score.exam_id = #{examId} AND score.user_id = #{studentId} AND score.question_paper_id  = #{questionPaperId}
    </select>
    <select id="selectSumScore" resultType="org.upc.examination.entity.Score">
        SELECT *
        FROM score
        WHERE score.exam_id = #{examId} AND score.user_id = #{studentId} AND score.question_paper_id  IS NULL
    </select>
    <select id="selectGradeByPaperId" resultType="java.lang.Double">
        SELECT grade
        FROM question_paper
        WHERE question_paper.paper_id = #{paperId} AND question_paper.question_paper_sort = #{questionPaperId}
    </select>


</mapper>