<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.ScoreMapper">


    <insert id="insert">
        INSERT INTO score
        (score_id,user_id,exam_id,question_paper_id,score,teacher_id,state,remark)
        VALUES
            (#{scoreId},#{userId},#{examId},#{questionPaperId},
             #{score},#{teacherId},#{state},#{remark})
    </insert>
    <select id="selectAnswer" resultType="org.upc.examination.entity.AnswerInformantion">
        SELECT *
        FROM answer_informantion
        WHERE exam_id = #{examId} AND user_id = #{studentId}
    </select>
    <select id="selectStudent" resultType="org.upc.examination.entity.ScoreStudent">
        SELECT *
        FROM exam_student
        WHERE exam_id =#{examId}
    </select>


</mapper>