<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.examination.mapper.UserMapper">
    <insert id="register" parameterType="org.upc.examination.entity.Users">
        insert into users
            (user_id,user_name,user_password,identidy)
        values
            (#{userId},#{userName},#{userPassword},#{identidy})
    </insert>

    <select id="login" resultType="org.upc.examination.entity.Users">
        select user_name,identidy
        from users
        where user_id=#{userId} and user_password=#{userPassword}
    </select>


</mapper>