body {
	font-family: KaiTi;
	overflow: hidden;
}

.mheader {
	width: 100%;
	height: 3.125rem;
	font-size: 25px;
	background-color: darkseagreen;
}

.welcom {
	display: inline-block;
	margin-left: 3.125rem;
	line-height: 3.125rem;
	font-size: larger;
}

.back {
	display: inline-block;
	margin-left: 80rem;
	line-height: ;

}

.back>a {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: #20222A;
	/* background-color: #009688; */
	border-radius: 5px;
	text-decoration: none;
}

.left {
	display: inline-block;
	width: 12.5rem;
	height: 100rem;
	border: 2px solid #20222A;
	/* background-color: #009688; */
	text-align: center;
}

.right {
	display: inline-block;
	float: right;
	width: 96rem;
	height: 100rem;
	border: 2px solid #20222A;
	/* background-color: #FF0000; */
	background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F9eab332ac2d8ff4d0a8d11c26f18bb80664abc5870e49-lexxZc_fw658&refer=http%3A%2F%2Fhbimg.b0.upaiyun.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1649410618&t=33f746163d67fe9b8160e3bd7dcd3445');
	background-size: 100% 100%;
}

.notice,
.jionExame,
.viewResults {
	display: block;
	line-height: 2.4rem;
	font-size: large;
	color: black;
	background-color: seashell;
	text-decoration: none;
	position: relative;
}

a:hover {
	color: white;
	background-color: #A9A9A9;
}

.back>a:hover {
	color: red;
	background-color: seashell;
}

.backgroud {
	height: 43rem;
	background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi.6art.cn%2F82df0bc66ba6bf07872dc589583421f0%40.jpg&refer=http%3A%2F%2Fi.6art.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1649323253&t=52f1211db923afa878a1d12f67ce9c46');
	background-size: 100% 100%;
}
