.viewResults {
	color: white;
	background-color: #A9A9A9;
}

.viewResultsDiv {
	width: 640px;
	height: 200px;
	margin: 0 auto;
	margin-top: 96px;
	/* background-color: #5F9EA0; */
	/* 5555 */
	/* 555 */
}

.viewResultsDiv>input {
	font-family: "KaiTi";
	display: block;
	margin-left: 80px;
	margin-top: 8px;
	width: 224px;
	height: 32px;
	border-radius: 5px;
	font-size: large;
}

h1 {
	font-size: 30px;
}

.viewResultsDiv>button {
	height: 32px;
	width: 80px;
	margin-left: 320px;

}

#rightBottom {
	height: 200px;
	/* background-color: #000000; */

}

#rightBottom>div {
	margin-left: 300px;
	font-size: 22px;
}
