body {
	font-family: KaiTi;
	overflow: hidden;
}

.mheader {
	width: 100%;
	height: 5vh;
	font-size: 20px;
	background-color: darkseagreen;
	/* 555 */
	/* 555 */
}

.welcom {
	display: inline-block;
	margin-left: 5%;
	line-height:2em;
	font-size: larger;
}

.back {
	display: inline-block;
	margin-left: 70vw;
}

.back>a {
	padding: 8px;
	font-size: 1.3em;
	color: #20222A;
	/* background-color: #009688; */
	border-radius: 5px;
	text-decoration: none;
}

.left {
	display: inline-block;
	width: 12%;
	height: 100vh;
	border: 2px solid #20222A;
	/* background-color: #009688; */
	text-align: center;
}

.right {
	display: inline-block;
	float: right;
	width: 87.5%;
	height: 100vh;
	/* border: 2px solid #20222A; */
	/* background-color: #FF0000; */
	background:url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3453&q=80.jfif") fixed no-repeat;
	background-size: 100% 100%;
	background-color: rgba(0,0,0,1;);
}

.left>div>a{
	display: block;
	line-height: 3.2em;
	font-size: larger;
	border: 5px solid  seashell;
	color: black;
	background-color: seashell;
	text-decoration: none;
	position: relative;
}

.left>div>a:hover {
	color: white;
	background-color: #A9A9A9;
}

.back>a:hover {
	color: red;
	background-color: seashell;
}

.backgroud {
	height: 43em;
	background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi.6art.cn%2F82df0bc66ba6bf07872dc589583421f0%40.jpg&refer=http%3A%2F%2Fi.6art.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1649323253&t=52f1211db923afa878a1d12f67ce9c46');
	background-size: 100% 100%;
}
