<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/resetting.css" />
		<link rel="stylesheet" type="text/css" href="../css/examPrepare.css" />
		<script src="../js/examPrepare.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="head">
			请各位考生认真阅读考试须知，再开始做题！！！
		</div>
		<div class="body">线上考试须知
			<br><br>
			2022-01-13 17:16
			<br><br><br><br>
			我校2022年影视传媒类专业校考通过“全程监控、现场录制、提交作品、考评分离”的方式进行， 所有专业线上考试，采用“双机位”，考生在考试前需下载小艺帮APP和小艺帮助手APP。
			<br><br>
			正式考试时间
			<br><br>
			2022年1月15日—2022年1月16日
			<br><br>
			全天任何时段都可以参加考试，确认考试后60分钟内完成考试科目并上传视频。
			<br><br>
			模拟时间
			<br><br>
			第1场2022年1月14日00:00---13:00
			<br><br>
			第2场2022年1月14日13:00---23:55
			<br><br>
			注：考生1月13日下午登入小艺帮APP可查看报名记录。
			<br><br>
			1.正式开考前，考生本人须参加模拟考试，用于熟悉考试全流程。
			<br><br>
			2.参加模拟考试前，考生须进入系统按照操作流程提示，线上签署“ 考试承诺书”、认真完成“考前阅读”、完成人脸认证。
			<br><br>
			3.模拟考试与正式考试流程一致，仅供考生熟悉考试流程及相关功能，试题题型、试题数量、考试内容、作答时间、各专业考试时长等均与正式考试相同，模拟考试视频上传后不作为评分依据。
			<br><br><br><br> 考试须知
			<br><br>
			1.请考生在线上考试期间，避免聚集，严格按照属地管理部门对疫情防控工作的各项要求完成线上考试；
			<br><br>
			3. 考生在所有考试环节，不得出现任何可能影响评判公正的信息或标识（如含考生信息的提示性文字、图案、声音、背景、着装等），更不得出现考生姓名、生源地、考生号、证件号等个人信息，否则将被视为违规 ；
			<br><br>
			4.从考试开始起至考试结束，考生不得离开主机位、辅机位拍摄范围，严禁他人进入考试空间，一经发现将被视为违规；
			<br><br>
			5. 正式考试中需要播放自备音乐的，请使用除考试设备外不具有通讯功能的设备播放；
			<br><br>
			6.考生不得截屏、录屏、投屏、锁屏、缩屏，否则将导致考试中断；退出考试系统、接通来电、进入其他应用程序等中断考试系统运行的操作，均将导致考试失败或终止，后果由考生自行负责；
			<br><br>
			7.我校网考均要求双机位录制，考生须保证录制画面及声音清晰完整，不得遮挡摄像头。请考生考试结束后提交正式考试视频，并立即同步提交辅机位视频，如不按照规定考试要求执行，由此产生的后果由考生自行负责；
			<br><br>


			8.考试结束后考生须持续关注考试视频上传进度，主机的所有科目都录制完成并提交完毕后，辅机的视频才可提交。考试结束，辅助机依旧可以提交视频。在视频提交完成前不得关闭程序，不得清理手机内存、数据等。从正式考试开始至考试结束提交视频成功期间不得更换考试设备；
			<br><br>
			9. 建议考生选择安静整洁、光线明亮的场地内进行独立考试，考试过程中不得出现与考试内容相关的信息提示及物品。主机位及辅机位考试画面中不得出现除考生外其他人物及声音，考生需保证主机位、辅机位录制画面清晰完整；
			<br><br>
			10.考试时间结束后48小时内不得卸载小艺帮APP及小艺帮助手APP；
			<br><br>
			11.请务必使用手机系统自带的中文简体标准字体，选择字体大小为标准模式。
			<br><br><br><br>
			考试纪律
			<br><br>
			1.考试前考生须认真阅读《吉林动画学院2022年艺术类专业考试公告》、《小艺帮APP操作说明》、《线上考试承诺书》、《吉林动画学院2022年影视传媒专业线上考试须知》，严格按照办法中拍摄要求等其他具体要求参加线上考试。
			<br><br>
			2.考生在网络考试视频录制中不得出现任何可能影响评判公正的信息（如考生姓名、考生号、生源地等个人信息），不得出现提示性标识（如文字、语言、图案、标识、穿着、声音等），否则将视为违纪，以考试无效处理。
			<br><br>


			3.考生必须严格遵守考试纪律，对舞弊或违反考试管理规定的考生，将按照《中华人民共和国教育法》第七十九条、《中华人民共和国刑法修正案（九）》、《国家教育考试违规处理办法》（教育部令第33号）、《普通高等学校招生违规处理暂行办法》（教育部第36号令）和有关法律法规严肃处理。
			<br><br>
			4.最终解释权由吉林动画学院招生办公室所有。
		</div>

		<div class="foot">
			<button type="button" id="back">返回上页</button>
			<button type="button" id="start">开始考试</button>
		</div>
	</body>
</html>
