<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台</title>
	<link rel="stylesheet" type="text/css" href="../css/student.css" />
	<script src="../js/student.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div class="roof">
	<div class="left">
		<img src="images/logo.jpg" alt="" class="logo">
		<img src="images/tttle2.png" alt="" class="tttle2">
	</div>
	<div class="right">
		<div class="user">欢迎 admin</div>
		<div class="back" style="padding: 0 35px;"><a href="">返回首页</a></div>
		<div class="back"><a href="" class="tuichu">退出</a></div>
	</div>

</div>
<!--左侧侧边栏-->
<div class="side-left">
	<div>
		<span><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
		<div class="list_one addColor" id="src5">0000000</div>
	</div>
	<div>
		<span> <i class="fa fa-balance-scale" aria-hidden="true"></i></span>
		<div class="list_one" id="one">99999</div>
		<div id="jiantou1"></div>
		<div class="list_two">
			<div class="addColor" id="src1"></div>
			<div class="addColor" id="src2"></div>
		</div>
	</div>
	<div>
		<span><i class="fa fa-telegram" aria-hidden="true"></i></span>
		<div class="list_one" id="two">88888</div>
		<div id="jiantou2"></div>
		<div class="list_two">
			<div class="addColor" id="src3">供需发布</div>
			<div class="addColor" id="src4">供需发布管理</div>
		</div>
	</div>
	<div>
		<span> <i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
		<div class="list_one" id="two">777777</div>
		<div id="jiantou2"></div>
		<div class="list_two">
			<div class="addColor" id="src3">专家信息</div>
		</div>
	</div>
</div>
<!--右侧内容-->
<div id="box1" class="frame-div">
	<iframe src="子页面.html" width="100%" height="100%"></iframe>
</div>
</body>
</html>
